[submodule "ImGui"]
	path = libs/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "ImGuizmo"]
	path = libs/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "libzmq"]
	path = libs/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
